* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.browser-window {
    background: #ffdada;
    height: 100vh;
    width: 100vw;
}

.app-container {
    height: 650px;
    width: 975px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px #d9adad;
}

.right-side-container {
    height: 650px;
    width: 695px;
    border-radius: 0px 10px 10px 0px;
    background-color: #f4f4f2;
}

.right-side-container__nav-bar {
    height: 35px;
    width: 680px;
    margin: 10px 10px 10px 5px;
    border-radius: 0px 10px 0px 0px;
    background-color: #f4f4f2;
}

.right-side-container__nav-bar--search-btn {
    padding: 0px 10px;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
}

.right-side-container__search-input {
    width: 300px;
    height: 35px;
    border: none;
    color: #d2d2d2;
    background-color: #f4f4f2;
}

input::placeholder {
    color: #d2d2d2;
}

/* .right-side-container__nav-bar--info-btn {
    font-size: 20px;
    font-size: 20px;
} */

.right-app-container__frame {
    height: 585px;
    width: 680px;
    margin: 0px 10px 10px 5px;
    border-radius: 10px 10px 10px 10px;
    background-color: #ffffff;
}

.left-app-container {
    height: 650px;
    width: 280px;
    border-radius: 10px 0px 0px 10px;
    background-color: #f4f4f2;
}

.left-app-container__frame {
    height: 630px;
    width: inherit;
    margin: 0px 5px 0px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #ffffff;
}

.user-icon {
    font-size: 100px;
    font-size: 100px;
    margin-bottom: 5px;
}

.user-frame {
    height: 210px;
}

.button-frame {
    height: 420px;
}

.to-do-btn,
.in-progress-btn,
.done-btn {
    width: 245px;
    height: 35px;
    border: 2px solid #d2d2d2;
    background-color: #ffffff;
    border-radius: 10px;
    color: #d2d2d2;
    margin-bottom: 8px;
}

.done-btn {
    margin-bottom: 24px;
}

.type-buttons,
.stage-buttons {
    margin-left: 10px;
    margin-right: 10px;
}

.work-btn,
.school-btn,
.other-btn,
.home-btn {
    width: 118px;
    height: 35px;
    border: 2px solid #d2d2d2;
    background-color: #ffffff;
    border-radius: 10px;
    color: #d2d2d2;
    margin-bottom: 8px;
}

.task-btn {
    height: 145px;
}

.new-task-btn {
    width: 175px;
    height: 50px;
    border: 2px solid #d2d2d2;
    background-color: #ffffff;
    border-radius: 10px;
    color: #d2d2d2;
    margin-right: 8px;
    margin-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

.btn-headings {
    margin-bottom: 8px;
    color: #d2d2d2;
}

.plus-icon{
    font-size: 30px;
    font-size: 30px;
}