* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* checked */
.browser-window-size {
    /* background: #ffdada; */
    background-color: #f4f4f4;
    height: 100vh;
    width: 100vw;
}

/* checked */
.app-container {
    height: 650px;
    width: 975px;
    border-radius: 10px;
    /* box-shadow: 0px 5px 10px 0px #d9adad; */
    box-shadow: 0px 5px 10px 0px #d4d4d4;
}

/* LEFT-SIDE */

/* checked */
.left-side-wrapper {
    height: 650px;
    width: 280px;
    border-radius: 10px 0px 0px 10px;
    background-color: #ffffff;
}

/* checked */
.left-side-wrapper__inner-container {
    height: 630px;
    width: inherit;
    margin: 0px 5px 0px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #f4f4f4;
    /* background-color: #f4f4f2; */
    /*changed: 2020-11-27*/
}

/* checked */
.UA-container {
    height: 210px;
}

/* checked */
.UA-container__icon {
    font-size: 100px;
    font-size: 100px;
    text-shadow: 1px 1px 0px #ffffff;
    margin-bottom: 5px;
}

.UA-container__subtitle {
    text-shadow: 1px 1px 0px #ffffff;
}

/* checked */
.buttons-wrapper {
    height: 420px;
}

/* checked */
.buttons-wrapper__btn-container {
    margin-left: 16px;
    margin-right: 16px;
}

/* checked */
.btn-headings {
    margin-bottom: 16px;
    color: #c0c0c0;
    text-shadow: 1px 1px 0px #ffffff;
    text-transform: capitalize;
}

.to-do-btn,
.in-progress-btn,
.done-btn,
.work-btn,
.school-btn,
.other-btn,
.home-btn,
.add-task-btn {
    height: 35px;

    border-radius: 45px;
    border: 0;
    outline: 0;

    background-color: #fefefe;
    /* background-color: #f4f4f4; */
    /* background-color: #f4f4f2; */
    color: #d4d4d4;

    box-shadow: 4px 4px 15px #d4d4d4;
    /* box-shadow: -4px -4px 15px #FFF, 4px 4px 15px #d4d4d4; */
    text-shadow: 1px 1px 0px #ffffff;

    cursor: pointer;
    transition: all 0.5s ease 0.0s;
}

.to-do-btn,
.in-progress-btn,
.done-btn,
.add-task-btn {
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 8px;
}

.work-btn,
.school-btn,
.other-btn,
.home-btn {
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

.to-do-btn:hover,
.in-progress-btn:hover,
.done-btn:hover,
.add-task-btn:hover {

    color: #c0c0c0;
    /* box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #d4d4d4; */
    box-shadow: 2px 2px 5px #d4d4d4;
}

.to-do-btn:active,
.in-progress-btn:active,
.done-btn:active,
.add-task-btn:active {

    box-shadow: inset 1px 1px 2px #d4d4d4, inset -1px -1px 2px #FFF;
}

.work-btn:hover,
.school-btn:hover,
.other-btn:hover,
.home-btn:hover {

    color: #acacac;
    /* background-color: #ffba93; */
    /* box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #d4d4d4; */
    box-shadow: 2px 2px 5px#d4d4d4;

}

.work-btn:active,
.school-btn:active,
.other-btn:active,
.home-btn:active {

    box-shadow: inset 1px 1px 2px #d4d4d4, inset -1px -1px 2px #FFF;
}

.to-do-btn,
.in-progress-btn,
.done-btn {
    width: 159px;
}

.work-btn,
.school-btn,
.other-btn,
.home-btn {
    width: 108.5px;
}

.done-btn {
    margin-bottom: 24px;
}

.add-task-container {
    height: 97px;
}

.add-task-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 159px;
    height: 50px;
    margin-right: 16px;
    margin-bottom: 16px;
    padding-right: 10px;
    padding-left: 16px;
    transition: all 0.5s ease 0.0s;
}

.add-task-btn:hover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 233px;
}

.add-task-btn__icon {
    position: relative;
    font-size: 30px;
    font-size: 30px;
}

.to-do-btn__counter,
.in-progress-btn__counter,
.done-btn__counter {
    height: 35px;
    width: 35px;
    margin-bottom: 16px;

    border-radius: 45px;
    border: 0;
    outline: 0;

    color: #d4d4d4;
    background-color: #fefefe;

    text-shadow: 1px 1px 0px #ffffff;
    box-shadow: -4px -4px 15px #FFF, 4px 4px 15px #d4d4d4;

    display: flex;
    align-items: center;
    justify-content: center;
}

.to-do-btn__icon,
.in-progress-btn__icon,
.done-btn__icon {
    font-size: 19px;
    font-size: 19px;
}

/* RIGHT-SIDE */

/* checked */
.right-side-wrapper {
    height: 650px;
    width: 695px;
    border-radius: 0px 10px 10px 0px;
    background-color: #ffffff;
}

/* checked */
.header-bar-container {
    height: 35px;
    width: 680px;
    margin: 10px 10px 10px 5px;
    border-radius: 0px 10px 0px 0px;
    background-color: #ffffff;
}

/* checked */
.search-btn {
    padding: 0px 10px;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
}

/* checked */
.search-btn__input {
    width: 300px;
    height: 35px;
    border: none;
    color: #d2d2d2;
    background-color: #ffffff;
}

/* checked */
input::placeholder {
    color: #d2d2d2;
}

/* checked */
.main-wrapper {
    height: 585px;
    width: 680px;
    margin: 0px 10px 10px 5px;
    border-radius: 10px;
    background-color: #ffffff;
}

/* checked */
.notes-wrapper {
    height: inherit;
    width: 420px;
    padding-right: 8px;
    padding-bottom: 8px;
    background-color: #f4f4f2;
    border-radius: 10px 0px 0px 10px;
}

/* checked */
.calendar-wrapper {
    height: 585px;
    width: 260px;
    background-color: #f4f4f2;
    border-radius: 0px 10px 10px 0px;
}

/* checked */
.calendar-app {
    width: 244px;
    height: 244px;
    /* background-image: linear-gradient(180deg, #755198 0%, #583d72 85%); */
    background-color: #D2D2D2;
    color: #ffffff;
    border-radius: 10px;
    margin: 8px;
    box-shadow: 4px 4px 15px #d4d4d4;
}

.calendar-app_month {
    width: 244px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 12px 0px 12px;
    border-radius: 10px 10px 0px 0px;
}

.calendar-app_weekdays {
    width: inherit;
    height: 20px;
    color: #ffffff;
    padding: 0 5px;
    display: flex;
    align-items: center;
    margin: 5px 0px;
}

.calendar-app_weekdays div {
    width: calc(234px/7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-app_days {
    width: inherit;
    height: 166px;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0 5px;
}

.calendar-app_days div {
    width: calc(234px/7);
    height: calc(166px/6);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .calendar-app_days div:hover {
    width: 25px;
    height: 25px;
    border-radius: 45px;
    border: 1px solid #ff8e71;
    background-color: #ff8e71;
} */

.calendar-arrow-left_icon,
.calendar-arrow-right_icon {
    cursor: pointer;
}

/* checked */
.daily-tasks-wrapper {
    width: 260px;
    height: 325px;
    padding-left: 8px;
    padding-right: 8px;
}

/* checked */
.random-task {
    width: 244px;
    height: 60px;
    border: 1px solid #d2d2d2;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 8px;
}

/* checked */
.random-note {
    width: 195px;
    height: 280px;
    border: 1px solid #d2d2d2;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 8px;
    margin-left: 8px;
}