* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* checked */
.browser-window-size {
    background: #ffdada;
    height: 100vh;
    width: 100vw;
}

/* checked */
.app-container {
    height: 650px;
    width: 975px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px #d9adad;
}

/* LEFT-SIDE */

/* checked */
.left-side-wrapper {
    height: 650px;
    width: 280px;
    border-radius: 10px 0px 0px 10px;
    background-color: #f4f4f2;
}

/* checked */
.left-side-wrapper__inner-container {
    height: 630px;
    width: inherit;
    margin: 0px 5px 0px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #ffffff;
}

/* checked */
.UA-container {
    height: 210px;
}

/* checked */
.UA-container__icon {
    font-size: 100px;
    font-size: 100px;
    margin-bottom: 5px;
}

/* checked */
.buttons-wrapper {
    height: 420px;
}

/* checked */
.buttons-wrapper__btn-container {
    margin-left: 10px;
    margin-right: 10px;
}

/* checked */
.btn-headings {
    margin-bottom: 8px;
    color: #d2d2d2;
    text-transform: capitalize;
}

/* checked */
.to-do-btn,
.in-progress-btn,
.done-btn,
.work-btn,
.school-btn,
.other-btn,
.home-btn,
.add-task-btn {
    height: 35px;
    border: none;
    box-shadow: 1.5px 3px 5px 1.5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 45px;
    color: #d2d2d2;
    margin-bottom: 8px;
    transition: all 0.5s ease 0.0s;
}

.to-do-btn:hover,
.in-progress-btn:hover,
.done-btn:hover,
.add-task-btn:hover {
    width: 245px;
    color: #ffffff;
    box-shadow: 1.5px 2px 4px 1.5px rgba(166, 167, 193, 1);
    background-color: #31326F;
    transform: rotateZ(5px);
}

.work-btn:hover,
.school-btn:hover,
.other-btn:hover,
.home-btn:hover {
    color: #ffffff;
    box-shadow: 1.5px 2px 4px 1.5px rgba(166, 167, 193, 1);
    background-color: #31326F;
}

/* checked */
.to-do-btn,
.in-progress-btn,
.done-btn {
    width: 245px;
}

/* checked */
.work-btn,
.school-btn,
.other-btn,
.home-btn {
    width: 118px;
}

/* checked */
.done-btn {
    margin-bottom: 24px;
}

/* checked */
.add-task-container {
    height: 145px;
}

/* checked */
.add-task-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 159px;
    height: 50px;
    margin-right: 8px;
    margin-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
}

.add-task-btn:hover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 249px;
}

/* checked */
.add-task-btn__icon {
    position: relative;
    font-size: 30px;
    font-size: 30px;
}

/* RIGHT-SIDE */

/* checked */
.right-side-wrapper {
    height: 650px;
    width: 695px;
    border-radius: 0px 10px 10px 0px;
    background-color: #f4f4f2;
}

/* checked */
.header-bar-container {
    height: 35px;
    width: 680px;
    margin: 10px 10px 10px 5px;
    border-radius: 0px 10px 0px 0px;
    background-color: #f4f4f2;
}

/* checked */
.search-btn {
    padding: 0px 10px;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
}

/* checked */
.search-btn__input {
    width: 300px;
    height: 35px;
    border: none;
    color: #d2d2d2;
    background-color: #f4f4f2;
}

/* checked */
input::placeholder {
    color: #d2d2d2;
}

/* checked */
.main-wrapper {
    height: 585px;
    width: 680px;
    margin: 0px 10px 10px 5px;
    border-radius: 10px;
    background-color: #ffffff;
}

/* checked */
.notes-wrapper {
    height: inherit;
    width: 420px;
    padding-right: 8px;
    padding-bottom: 8px;
}

/* checked */
.calendar-wrapper {
    height: 585px;
    width: 260px;
}

/* checked */
.calendar-app {
    width: 244px;
    height: 244px;
    border: 1px solid #d2d2d2;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 8px;
}

/* checked */
.daily-tasks-wrapper {
    width: 260px;
    height: 325px;
    padding-left: 8px;
    padding-right: 8px;
}

/* checked */
.random-task {
    width: 244px;
    height: 60px;
    border: 1px solid #d2d2d2;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 8px;
}

/* checked */
.random-note {
    width: 195px;
    height: 280px;
    border: 1px solid #d2d2d2;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 8px;
    margin-left: 8px;
}

/* to use */

/* .btn-3 {
    background: #e3403a;
    border: 1px solid #da251f;
    box-shadow: 0px 2px 0 #d6251f, 2px 4px 6px #e02a24;
    font-weight: 900;
    letter-spacing: 1px;
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
  }
  
  .btn-3:hover {
    background: #e02c26;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
    color: #ec817d;
    text-decoration: none;
    text-shadow: -1px -1px 0 #c2211c;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
  } */